*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto', sans-serif;
}

.wrapper{
    /* height: 100vh; */
    width: 100vw;

    background-image: linear-gradient(180deg, #112d4e 0% , #3f72af 100%);
}

.heading{
    color: white;
    display: flex;
    justify-content: center;
    position: relative;
    top: 50px;
}

.container{
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
    /* justify-content: center; */
}

.inputs label{
/* background-color: red; */
width: 100px;
border: 2px solid grey;
margin-right: 10px;
padding: 4px;
border-radius: 5px;
color: white;

}

.inputs div{
    margin-top: 40px;
}

.inputs{
    position: relative;
}

.numbers{
overflow-y: scroll;
height: 40vh;
width: 20vh;
background-color: white;
border-radius: 5px;
display: flex;
flex-direction: column;
align-items: center;
margin-top: 20px;
}

.submit{
    /* border: 2px solid black; */
    display: flex;
    justify-content: center;
}
.submit_btn,.print_btn{
    margin-top: 30px;
    color: white;
    width: 70px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #112d4e;
    border-radius: 3px;
    transition: 300ms;
    margin-left: 10px;
}

.main_part{
    height: 200px;

}

.submit_btn:hover ,.print_btn:hover{
    transition: 300ms;
    margin-top: 30px;
    width: 75px;
    height: 35px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #0c1e32;
    border-radius: 3px;
    margin-left: 10px;
}